body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  background-image:
  url(
    "https://static.displate.com/857x1200/displate/2019-12-28/ce21ba3e185cc3de17ffb01a99dbb37f_09cb4fc4c481d98d05ad128b02e55af3.jpg");
  background-size: "cover";
  height: 100vh;
  width: 100vw;
  background-repeat:repeat; 
}