/* adjusting the built-in theme */


/* calendar event */
.calendar_default_event_inner {
    background: limegreen;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 10pt;
    opacity: 0.8;
}

/* Kalenterin solujen muotoilut */
.calendar_default_cell_inner
{
	background: purple;
    opacity: 0.8;
}

.calendar_default_cell_business .calendar_default_cell_inner {
	background: red;
}

