/*
Nämä tärvitsee importata index.js tiedostoon, jotta toimii!
import "./components/popup.css";
import "bootstrap/dist/css/bootstrap.css"; 
*/

.popup-box {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 997;
}

.box {
    position: relative;
    width: 300px;
    height: 450px;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px;
    overflow: auto;
    color: #212529;
    z-index: 998;
}

.btn-close {
    cursor: pointer;
    border: 1px solid #999;
    border-radius: 50%;
}

#popup-close {
    position: relative;
    left: 240px;
    top: -15px;
    z-index: 999;
}